body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.main{
    width: 100vw;
    height: 100vh;
}

.header{
    padding-top: 30px;
    text-align: center;
}

.header-theme{
    font-style: italic;
}


.content{
    width: 520px;
    margin: 0 auto;
    background: #C1FFAB;
    height: 100%;
}



.wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings{
    padding-top: 50px;
    padding-left: 20px;
}

.footer{
    text-align: center;
    padding-bottom: 30px;
    
}

.table{
    margin-left: auto;
  margin-right: auto;
}

